/* normalizing our css */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


* {  
    /*color: gold;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: lightsalmon;
}

#contact {
    background-color: red;
}

p 
{
    color: blue;
}
/* class selector */
.my-ps {
    background-color: white;
}

.my-width {
    width: 400px
}
li
{
    color: palevioletred;
}

.box {
    color: white;
    font-size: 600;
    background-color: crimson;
    /*padding-top:  10px;
    padding-right:  10px;
    padding-bottom: 10px;
    padding-left: 10px;*/
    padding: 10px;
    /* border-color: black;
    border-style: solid;
    border-width: 3px; */
    border: solid 1px black;
    border-radius: 10px;
    text-transform: capitalize;

    /* margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px; */

    margin: 10px 20px;
}

footer {
    background-color: yellow;
}
h3 {
    background-color: blue;
}

footer > ul > li {
    color: rgb(125, 24, 32);
}